body,
        html {
            font-family: 'Poppins', sans-serif;
            background-color: #FAFAFA;
            scroll-behavior: smooth;
        }

        .oval {
            position: absolute;
            right: 0;
            top: 0;
            width: 700px;
        }

        nav .navbar-brand img {
            width: 40px;
        }

        section {
            padding: 60px 0px;
        }

        header {
            height: 600px;
        }

        header .cura {
            /* width: 300px;
            position: absolute; */
            top: 100px;
            left: 100px;
        }

        header .box {
            /* position: absolute;
            top: 150px; */
        }

        header .box h1 {
            font-size: 44px;
            font-weight: 200;
            margin-bottom: 20px;
        }

        header .box p {
            font-size: 18px;
            max-width: 458px;
            font-weight: 200;
            margin-bottom: 20px;
        }

        header .box a {
            font-size: 18px;
        }

        .btn {
            color: #FF4F4F !important
        }

        .navbar-custom.fix {
            background-color: #FF4F4F;
        }

        .navbar-custom {
            background-color: transparent;
        }

        /* change the brand and text color */
        .navbar-custom .navbar-brand,
        .navbar-custom .navbar-text {
            color: black;
        }

        /* change the link color */
        .navbar-custom .navbar-nav .nav-link {
            color: #ffffff;
        }

        /* change the color of active or hovered links */
        .navbar-custom .nav-item.active .nav-link,
        .navbar-custom .nav-item:hover .nav-link {
            color: #ffffff;
        }

        /* for dropdown only - change the color of droodown */
        .navbar-custom .dropdown-menu {
            background-color: #343434;
        }

        .navbar-custom .dropdown-item {
            color: #ffffff;
        }

        .navbar-custom .dropdown-item:hover,
        .navbar-custom .dropdown-item:focus {
            color: #191919;
            background-color: #191919;
        }

        .navbar-custom .nav-item {
            margin: 0 4px;
            font-size: 14px;
        }

        .bg-danger {
            background: #FF4F4F !important;
        }


        .btn-danger {
            padding: 10px 40px !important;
            background: #FF4F4F !important;
            color: #fff !important
        }

        .btn-secondary {
            background-color: #2F281E !important;
            color: #fff !important;
            border-radius: 8px !important;
            padding: 0px 30px;
        }

        .btn-primarys:hover {
            background-color: transparent;
        }

        .btn-primarys:active,
        .btn-primary:focus {
            background-color: transparent;
        }

        .btn-primarys {
            border-radius: 8px !important;
            padding: 0px 20px;
            border: 1px solid #fff !important;
            background-color: transparent;
        }


        .counter h3 {
            color: #ccc;
            font-size: 36px;
            font-weight: 100;
        }

        .counter .bg {
            background-color: #eee;
            border-radius: 10px;
            /* height: 200px; */
            padding: 20px
        }

        .counter h4 {
            color: #FF4F4F;
            font-size: 72px;
            font-weight: 300;
        }

        .counter h6 {
            color: #2F281E;
            font-size: 22px;
            font-weight: 500;
        }

        .donation {
            background: url(./assets/rectangle.png);
        }

        .donation h4 {
            font-size: 36px;
            color: #262626;
            font-weight: 200;
        }

        .donation .heart {
            max-width: 350px;
        }

        .donation .boxList {
            position: absolute;
            top: 100px;
        }

        .donation .boxList h4 {
            font-weight: 700;
        }

        .donation .boxList h6 {
            font-weight: 700;
            font-weight: 18px;
            margin-bottom: 20px
        }

        .donation .boxList img {
            margin-right: 10px;
        }

        .links .brl {
            border-right: 1px solid #ccc;
        }

        .links .brt {
            border-top: 1px solid #ccc;
        }

        .links .boxTitle h3 {
            color: #342D20;
            font-size: 24px;
            font-weight: 700;
        }

        .links .boxTitle p {
            color: #544837;
            font-size: 16px;
            font-weight: 300;
        }

        .links .boxTitle {
            height: 160px;
        }

        .links .pd {
            padding: 60px;
        }

        .gallery {
            background: #eee;
        }

        .gallery .slick-dots li {
            list-style: none !important;
            display: inline-block !important;
            margin: 0 4px;
        }

        .gallery .slick-dots li button {
            background-color: #ccc !important;
            color: #ccc !important;
            border-radius: 100px !important;
            height: 14px;
            width: 10px;
            border: none !important;
            font-size: 0px;
            outline: 0 !important;
            cursor: pointer;
        }

        .gallery .slick-dots li.slick-active button {
            background-color: #FF4F4F !important;
            color: #FF4F4F !important;
        }

        .gallery img {
            width: 250px;
            height: 250px;
            object-fit: cover;
        }

        .aling {
            position: relative;
            height: 600px;
        }

        .aling-img {
            position: relative;
            height: 100px;
        }

        .aling-img .item {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 150px;
        }

        .aling .item {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 53%;
            margin: auto;
        }

        .video{
            overflow: hidden;
            width: 200px;
            height: 200px;
            border-radius: 100px;
            /* border: 8px solid #FF4F4F; */
        }

        .video::before{
            content: "";
            width: 100%;
            height: 320px;
            background-color: #FF4F4F;
            opacity: 0.5;
            position: absolute;
            z-index: 10;
        }

        .mobile{display: none;}
        @media(max-width:768px){
            .video{display: none;}
            img{max-width: 100%!important;}
            .boxList{position: relative!important;top: 0!important;}
            .links .boxTitle {height: 300px;}
            .navbar-custom {background-color: #FF4F4F;}
            .desktop{display: none;}
            .mobile{display: block;}
            header{margin: 0px 20px;height: 850px;}
        }

        .col-center{
            float: none;
            margin-left: auto;
            margin-right: auto;
          }


          .counter span,.counter h4{display: inline;}