/* Some very basic styles to make things look sensible - you don't need to use these */

* {
  box-sizing: border-box;
  font-family: sans-serif
}

h1, footer {
  max-width: 64rem;
  margin: 2rem auto;
}

#instafeed {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  max-width: 70rem;
  margin: auto;
}

#instafeed a {
  display: block;
}

#instafeed img {
  display: block;
  width: 100%;
}

